[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"

[dev-packages]
nuitka = "*"

[scripts]
start = "python app.py"
prepare = "nuitka --onefile --standalone --output-dir=./scripts/python/bin"
prepare-all = "python prepare.py"
command = "python command.py"

[requires]
python_version = "3.13"
