[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
sklearn="*"
numpy="*"
seaborn="*"

[dev-packages]
nuitka = "*"

[scripts]
prepare = "python -m nuitka --standalone --onefile --follow-imports --enable-plugin=numpy --enable-plugin=matplotlib --output-dir=./bin ./commander.py"
command = "python ./commander.py"

[requires]
python_version = "3.13"
